extends layout

block content
  h1= title
  form(method='POST', action='/login')
    div
      label Username:
      input(type='text', name='username')
    div
      label Password:
      input(type='password', name='password')
    div
      button(type='submit') Login
